.git
.github
.idea
.vscode
.ai
.claude
.cursor
.gemini
.junie
.hermes.md
.lerd.yaml

vendor/
node_modules/
.tempest/
data/
media/
database/
rr

.env
.env.*
.phpunit.result.cache
composer.phar
.aider*
CLAUDE.local.md
